<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <style>
        .logo {
            width: 90px;
            height: 80px;
        }

        .carousel {
            margin-top: 15px;
        }

        .carousel-item {
            padding-left: 17%;
        }

        h2 {
            color: #fff;
            font-weight: 700;
        }

        .div-text {
            color: #000;
            margin: 1%;
            font-size: larger;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .img {
            margin-left: 500px;
        }
    </style>
</head>

<body style="background-image: url('https://res.cloudinary.com/djr5lgomz/image/upload/v1677351874/back_lp9o65.jpg'); background-repeat: no-repeat; background-size:cover;">
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <img src="https://res.cloudinary.com/djr5lgomz/image/upload/v1677343750/logo_MR_mzqq5z.png" class="logo" alt="">
            <a class="navbar-brand" style="color:#fff; padding-left: 15px; font-family:'Arvo',serif; font-size: 30px;"
                href="">RETAIL
                RENOVATE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/" style="color:#fff">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cam" style="color:#fff">Try On</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:#fff">Demo</a>
                    </li>
                    <li class="nav-item" style="padding-right: 25px;">
                        <a class="nav-link" href="/admin" style="color:#fff;">Admin</a>
                    </li>
                    <li class="nav-item" style="padding-right: 25px;">
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="div-text">
        <h2>Statistics</h2> <br>
        <img src="https://res.cloudinary.com/djr5lgomz/image/upload/v1677352808/stat_ekstjy.jpg" alt="stat" width="400px" height="300px" class="img"> <br><br><br>
        <b>
            The future of AR technology is bright, but how well it will be accepted remains a question. The fashion
            industry will likely spend extensively on these technologies to provide customers with an immersive buying
            experience as they demand more personalized shopping experiences. AR technology will enable breakthroughs to
            revolutionize the fashion store experience.
            <br> <br>
            <li>The AR industry will reach $198 billion by 2025, up from $3.5 billion in 2017.</li>
            <li>Revenue in the Fashion segment is projected to reach US$19.86 billion in 2023.</li>
            <li>Revenue is expected to show an annual growth rate (CAGR 2023-2027) of 13.35%, resulting in a projected
                market volume of US$32.79 Billion by 2027.</li>
            <li>Advent of AR in this industry will definitely mark an increase in the growth rate.</li>
        </b> <br> <br>
        <h2>About Us</h2> <br>
        <span><b>
                We are a one-stop destination for all your fashion needs, offering a wide range of stylish and trendy clothing options. Our website is designed to provide you with a seamless and hassle-free shopping experience, allowing you
                to browse and purchase clothing from the comfort of your own home. Our mission is to provide high-quality clothing at affordable prices, ensuring that our customers always look and feel their best. We source our products from top brands and reputable suppliers, ensuring that you receive clothing that is both
                fashionable and durable. We pride ourselves on our exceptional customer service. We believe that shopping for clothing should be a fun and enjoyable experience, and we strive to create a positive and welcoming environment for all our customers. From the latest fashion trends to timeless classics, our collection has something for everyone.</b>
        </span><br><br>
        <br>
    </div>
</body>

</html>